.text_cell_render.rendered_html img {
    margin: auto
}

.alert {
    background: hotpink;
    color: white;
    font-weight: 800;
    /* text-transform: uppercase; */
}

.black {
    background: black;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

a {
    background: aqua;
    color: white;
    text-decoration: none;
}